<template>
  <div class="container-fluid">
    <div class="view-beranda">
      <div class="col-md-12">
        <b-card class="shadow">
          <img src="../../../assets/img/berandaPage.jpeg" style="width: 100%"/>
          <hr/>
          <h4 style="color: #e77628; font-size: large"><u>Purchase Order</u></h4>
          <p>Berdiri sejak 15 April 1998, PT Cogindo DayaBersama (Cogindo / PT CDB)
            mulai beroperasi di Jakarta pada 15 Agustus 1998. PT Cogindo DayaBersama
            merupakan Perusahaan yang bergerak di bidang ketenagalistrikan, khususnya untuk mengelola
            Pembangkit Listrik dalam bentuk pemberian Jasa Operasi dan Pemeliharaan<br/><br/>
            Mayoritas saham Cogindo dimiliki oleh PT Indonesia Power (Indonesia Power / PT IP)
            dengan presentase sebesar 99,9% dan 1% YPK PT IP. PT Indonesia Power
            sendiri merupakan Anak Perusahaan PT PLN (Persero)<br/><br/>
            Awalnya, Cogindo bertujuan untuk menjadi pionir pengembangan bisnis Cogeneration,
            Distributed Generation, serta pengelolaan Captive Power yang optimal. Memasuki arahan
            baru pada tahun 2009, Cogindo memiliki aset utamanya, yaitu PLTD Batakan 45 MW di Balikpapan,
            Kalimantan Timur. Memasuki tahun 2010, adanya pengembangan usaha pada bidang Jasa O&M. Hal ini
            terlihat dari kepercayaan yang diberikan untuk mengelola PLTU Labuan 2x300 MW. Dalam memberikan solusi
            yang terbaik bagi Pelanggan, pada tahun 2012, Cogindo melakukan pengembangan usaha di bidang
            Jasa MRO (Maintenance, Repair & Overhaul). Aset Cogindo kian bertambah dengan berdirinya PLTD MFO 10 MW
            yang awalnya beroperasi di Pesanggaran, Bali. Pada tahun 2015, Cogindo menambah layanan bisnis baru,
            yaitu Trading &Stockist<br/><br/>
            Setiap tahunnya, Cogindo berhasil menuai kepercayaan Pelanggan hingga
            berkembang mendukung Pembangkit besar di wilayah Jawa, beberapa area di Sumatera,
            Kalimantan dan Indonesia Bagian Timur<br/><br/>
            Di masa mendatang, PT Cogindo DayaBersama berkomitmen penuh dalam menjamin pelayanan yang terbaik bagi
            Pelanggan dan terus mendukung penyediaan listrik untuk meningkatkan kesejahteraan Bangsa<br/><br/>
          </p>
          <h4 style="color: #e77628; font-size: large"><u>VISI</u></h4>
          <P>Perusahaan Terpercaya dalam Jasa Pembangkitan dan Usaha Terkait<br/><br/></P>
          <h4 style="color: #e77628; font-size: large"><u>MISI</u></h4>
          <P>Mitra Penyedia Energi Listrik untuk Kesejahteraan Bangsa</P>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'view-beranda'
}
</script>

<style scoped>

</style>
