.top-container {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #ffedce;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
}

.header a {
  float: left;
  display: block;
  color: #303030;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header a:hover {
  background: #ddd;
  color: black;
}