/*
 * Elvan Diano
 * elvandiano@gmail.com
 * SASS layout Front Office
 */

.app {
  background-color: white;
  height: 100%;
  margin: 0;
}
.main-detail {
  flex: 1 0 auto;
  background-color: white;
  padding: 16px;
  padding-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100%;
}
.main-default {
  flex: 1 0 auto;
  background-color: white;
  padding: 16px;
  padding-top: 80px;
  //margin-left: 240px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100%;
}
.content {
  min-height: 375px;
}

@import "layoutHeader";
@import "layoutFooter";
@import "layoutSidebar";
