<template>
  <div class="login container-fluid" align="center">
    <div class="login-logo">
      <img class="img" src="../../../assets/img/logoCogindo.png" style="height: 90px"/>
    </div>
    <div class="login-body">
      <div class="login-title" align="center">
        <b-alert variant="warning"
                 dismissible
                 :show="dismissCountDown"
                 @dismissed="dismissCountDown=0"
                 @dismiss-count-down="countDownChanged"
                 class="pl-3">
          {{ message }}
        </b-alert>
        <h4 style="cursor: default">Selamat Datang!</h4>
        <a>Sudah punya akun Cogindo? <router-link to="login"><span style="color: #da7824">Sign in</span></router-link></a>
      </div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="login-form col-md-4 col-sm-7 col-10">
        <el-form-item prop="email">
          <el-input
            size="medium"
            placeholder="Username"
            v-model="ruleForm.username"
            @keyup.enter.native="onLogin('ruleForm')">
          </el-input>
        </el-form-item>
        <el-form-item prop="email">
          <el-input
            size="medium"
            placeholder="Email"
            v-model="ruleForm.username"
            @keyup.enter.native="onLogin('ruleForm')">
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            size="medium"
            placeholder="Password"
            v-model="ruleForm.password"
            show-password
            @keyup.enter.native="onLogin('ruleForm')">
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            size="medium"
            placeholder="Ulangi Password"
            v-model="ruleForm.password"
            show-password
            @keyup.enter.native="onLogin('ruleForm')">
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button style="background-color: #da7824; color: whitesmoke" type="submit" @keyup.enter.native="onLogin('ruleForm')" @click="onLogin('ruleForm')" :loading="loadButton"
                     class="btn-block font-weight-bold mt-2 mb-1 p-2" >Register
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'registrer',
  data () {
    return {
      loadButton: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      message: '',
      ruleForm: {
        username: '',
        password: ''
      },
      rules: {
        // username: [
        //   {required: true, message: 'Email is empty', trigger: 'blur'},
        // ],
        // password: [
        //   {required: true, message: 'Password is empty', trigger: 'blur'},
        // ],
      }
    }
  },
  methods: {
    onLogin (formName) {
      this.$router.push('login')
      // this.$refs[formName].validate((valid) => {
      //   if (valid) {
      //     const { username, password } = this.ruleForm
      //     this.login({ userId: username, passwd: password })
      //   }
      // })
    },

    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    }
  }
}
</script>

<style scoped>

</style>
