<template>
  <div class="content">
    <div class="row">
      <div class="col-md-2">
        <b-card
          header="Pembelian"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="warning"
        >
          <span style="color: #575757; font-size: small">Dashboard</span><br/>
          <span style="color: #575757; font-size: small">Quotation</span><br/>
          <span style="color: #575757; font-size: small">Purchase Order</span>
          <span style="color: #575757; font-size: small">Penerimaan Barang</span><br/>
          <span style="color: #575757; font-size: small">Pengaduan</span>
        </b-card>
        <b-card
          header="Filter"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="warning"
          style="margin-top: 20px"
        >
          <span style="color: #575757; font-size: medium">Harga :</span>
          <el-input
            style="margin: 5px 0px"
            size="small"
            placeholder="Harga Min"
            v-model="input1"/>
          <el-input
            style="margin: 5px 0px"
            size="small"
            placeholder="Harga Max"
            v-model="input2"/>
          <hr/>
          <span style="color: #575757; font-size: medium">Kategori :</span><br/>
          <el-tree
            :data="data"
            :props="defaultProps"
            @node-click="handleNodeClick"
          />
          <hr/>
          <span style="color: #da971b; font-size: small">Tampilkan Semua</span><br/>
          <b-button size="sm" style="width: 100%; margin-top: 5px " squared variant="outline-warning">Search</b-button>
        </b-card>
      </div>
      <div class="col-md-10">
        <div class="row" style="margin: 10px 0px">
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/12.png" width="50px" height="220px"  class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">KWH Meter 1PH</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 1.500.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/13.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">CONDUCTOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 12.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/14.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">ISOLATOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 50.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/15.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">FUSE CUT OUT (FCO)</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 120.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/16.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">LIGHTNING ARRESTER</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 34.000.000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 10px 0px">
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/12.png" width="50px" height="220px"  class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">KWH Meter 1PH</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 1.500.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/13.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">CONDUCTOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 12.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/14.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">ISOLATOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 50.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/15.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">FUSE CUT OUT (FCO)</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 120.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/16.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">LIGHTNING ARRESTER</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 34.000.000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 10px 0px">
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/12.png" width="50px" height="220px"  class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">KWH Meter 1PH</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 1.500.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/13.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">CONDUCTOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 12.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/14.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">ISOLATOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 50.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/15.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">FUSE CUT OUT (FCO)</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 120.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/16.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">LIGHTNING ARRESTER</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 34.000.000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 10px 0px">
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/12.png" width="50px" height="220px"  class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">KWH Meter 1PH</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 1.500.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/13.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">CONDUCTOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 12.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/14.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">ISOLATOR</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 50.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/15.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">FUSE CUT OUT (FCO)</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 120.000.000</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card shadow">
              <img src="../../../assets/img/16.png" width="50px" height="220px" class="card-img-top" alt="...">
              <div class="card-body" align="left">
                <span style="color: #575757; font-size: small">LIGHTNING ARRESTER</span><br>
                <span style="color: #a62b52; font-size: x-small">Rp 34.000.000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'view-product',
  component: {},
  data () {
    return {
      valueRate: '',
      colors: ['#99A9BF', '#F7BA2A', '#FF9900'],
      input1: '',
      input2: '',
      data: [{
        label: 'Level one 1',
        path: '',
        children: [{
          label: 'Level two 1',
          path: '',
          children: [{
            label: 'Level three 1',
            path: 'asd'
          }]
        }]
      }, {
        label: 'Level one 2',
        path: '',
        children: [{
          label: 'Level two 2',
          path: '',
          children: [{
            label: 'Level three 2',
            path: 'google'
          }]
        }, {
          label: 'Level two 2',
          path: '',
          children: [{
            label: 'Level three 2',
            path: 'google'
          }]
        }]
      }, {
        label: 'Level one 3',
        path: '',
        children: [{
          label: 'Level two 3',
          path: '',
          children: [{
            label: 'Level three 3',
            path: 'google.com'
          }]
        }, {
          label: 'Level two 3',
          path: '',
          children: [{
            label: 'Level three 3',
            path: 'google'
          }]
        }]
      }],
      defaultProps: {
        children: 'children',
        label: 'label',
        path: 'google'
      }
    }
  },
  methods: {
    handleNodeClick (data) {
      if (data.path === '') {
        return null
      } else {
        alert(data.path)
      }
    }
  }
}
</script>

<style scoped>
</style>
