<template>
  <router-view/>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style lang="scss">
  // Import Main styles for this application
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';
@import 'assets/sass/layout/layout';
@import 'assets/sass/view';

/* Import Font Awesome Icons Set */
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome.scss';
</style>
