<template>
  <div class="app">
    <default-header/>
    <main class="main-detail">
      <div class="row">
        <div class="col-md-1">
          <router-link to="beranda"><span style="color: #da7824; font-size: small">Beranda</span></router-link>
        </div>
        <div class="col-md-1">
          <span style="color: #da7824; font-size: small">Layanan</span>
        </div>
        <div class="col-md-1">
          <router-link to="product"><span style="color: #da7824; font-size: small">Product</span></router-link>
        </div>
      </div>
      <hr/>
      <div class="content container-fluid">
        <router-view/>
      </div>
    </main>
    <default-footer/>
  </div>
</template>

<script>
import defaultHeader from './DefaultHeader'
import defaultFooter from './DefaultFooter'

export default {
  name: 'default-detail-container',
  components: {
    defaultHeader,
    defaultFooter
  }
}
</script>

<style scoped>

</style>
