<template>
  <div class="slick" align="center">
    <vueper-slides
      class="no-shadow"
      :visible-slides="9"
      :slide-ratio="1/11"
      :disableArrowsOnEdges="true"
      transition-speed="600"
      :slide-multiple="true"
    >
      <vueper-slide
        v-for="i in 18"
        :key="i"
        :title="i.toString()"
        :style="'background-color: ' + ['#da971b', '#da971b'][i % 2]"/>
    </vueper-slides>
  </div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'

export default {
  name: 'default-slick',
  components: {
    VueperSlides,
    VueperSlide
  },
  data () {
    return {
    }
  },
  methods: {}
}
</script>

<style scoped>
  .slick {
    margin-bottom: 20px;
  }
  .ex--center-mode {
    width: 600px;
    max-width: 100%;
    margin: auto;
  }
</style>
