<template>
  <div class="footer-body container-fluid">
    <div style="padding-top: 30px">
    </div>
    <div class="container">
      <div class="row" align="center">
        <div class="col">
          <img src="../assets/img/logoCogindo.png" style="cursor: pointer" height="33" width="110" @click="goHome"/>
        </div>
        <div class="col" align="left">
          <h5 class="font-footer">Cogindo.com</h5>
          <p class="font-footer child-footer">Tentang Kami</p>
        </div>
        <div class="col"  align="left">
          <h5 class="font-footer">Jual</h5>
          <p class="font-footer child-footer">Cara Jual</p>
          <p class="font-footer child-footer">Pembayaran</p>
        </div>
        <div class="col"  align="left">
          <h5 class="font-footer">Beli</h5>
          <p class="font-footer child-footer">Cara Beli</p>
        </div>
        <div class="col"  align="left">
          <h5 class="font-footer">Bantuan</h5>
          <p class="font-footer child-footer">Syarat dan Ketentuan</p>
          <p class="font-footer child-footer">Kebijakan</p>
          <p class="font-footer child-footer">Kontak Kami</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center" style="padding-top: 70px;">
      <div class="card text-center footer-title" style="width: 100%; border-color: transparent">
        <div class="card-body">
          <p class="card-text font-footer">Copyright Cogindo © 2019. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'default-footer',
  methods: {
    goHome () {
      this.$router.push('home')
    }
  }
}
</script>

<style scoped>
  .footer-body {
    flex-shrink: 0;
    width: 100%;
    background-color: whitesmoke;
  }

  .footer-title {
    background-color: #da971b;
    color: whitesmoke;
    text-align: center;
  }

  .font-footer {
    font-family: "Helvetica Neue";
  }
  .child-footer {
    color: #da971b;

  }
</style>
