<template>
  <div class="sidenav">
    <div class="card-body border">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'default-sidebar'
}
</script>

<style scoped>
  .sidenav {
    margin-left: 50px;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    /*background: #d71048;*/
    overflow-x: hidden;
    margin-top: 50px;
    padding: 8px 0;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #070707;
    display: block;
  }
  .sidenav a:hover {
    color: #adadad;
  }
</style>
