<template>
  <div class="header">
    <div class="container">
      <div class="justify-content-md-center">
        <div class="row">
          <div class="col-md-3" align="center">
            <img src="../assets/img/logoCogindo.png" style="cursor: pointer" height="33" width="110" @click="goHome"/>
          </div>
          <div class="col-md-4">
            <el-input size="small" v-model="inputSearch" style="width: 100%" placeholder="Search">
              <i slot="prefix" class="el-input__icon el-icon-search"></i>
            </el-input>
          </div>
          <div class="col-md-1">
            <b-button style="width: 100%" size="sm" class="my-2 my-sm-0" variant="warning" squared>Cari</b-button>
          </div>
          <div v-if="!login" class="col-md-2" align="center">
              <b-button style="width: 100%" size="sm" class="my-2 my-sm-0" variant="primary" @click="doLogin">Login</b-button>
          </div>
          <div v-if="!login" class="col-md-2" align="center">
              <b-button style="width: 100%" size="sm" class="my-2 my-sm-0" variant="info" @click="doDaftar">Daftar</b-button>
          </div>
          <div v-else class="col-md-3" align="center">
            <i style="color: #9b9b9b; font-family: Consolas; margin-right: 15px">{{username}}</i>
            <b-img src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png" style="width: 35px; height: 35px" rounded="circle" alt="Circle image"></b-img>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'default-header',
  data () {
    return {
      login: false,
      username: 'Admin Cogindo',
      inputSearch: ''
    }
  },
  created () {},
  methods: {
    goHome () {
      this.$router.push('beranda')
    },
    doLogin () {
      this.$router.push('login')
    },
    doDaftar () {
      this.$router.push('register')
    }
  }
}
</script>
